---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/landing/Header.astro";
import Footer from "@/components/landing/Footer.astro";

import ThinDivider from "@/components/ThinDivider.astro";

import Experiences from "../data/experience.json"
---

<BaseLayout>
  <Header 
    title="Experience", 
    description="View and learn more about my professional work experiences.", 
    ogTitle="Experience", 
    ogType="website", 
    ogImage="/initials.png"
  />

    <section class="bg-background">
        <div class="px-8 mx-auto 2xl:max-w-7xl">
            {Experiences.map((template, index) => (
                <div class="flex flex-wrap" id={template.id}>
                    <div 
                    class="text-blue leading-relaxed pt-6 sm:w-full mb-6 lg:mb-0 lg:w-[50%]"
                    data-aos="fade-up"
                    data-aos-duration="2000"
                    >
                        <h2 class="text-xl font-bold">
                            {template.company}
                        </h2>

                        <p class="text-md">
                            {template.role}
                        </p>

                        <p class="text-md">
                            {template.year}
                        </p>
                    </div>

                    <div
                        class="space-y-4 pb-6 lg:py-6 sm:w-full lg:w-[50%]">
                        {template.description.map((bullet) => (
                            <p 
                            class="text-blue text-base leading-relaxed "
                            data-aos="fade-up"
                            data-aos-duration="2000">
                                {bullet}
                            </p>
                        ))}
                    </div>

                    <>
                        {index !== Experiences.length - 1 ? <ThinDivider duration={2000}/> : null}
                    </>
                </div>
            ))}
        </div>
    </section>

    <Footer />
</BaseLayout>
